.section {
    padding: 50px 20px;
    text-align: center;
}

.projects-content {
    text-align: start;
}

/* Título */
.projects-content h2 {
    font-size: 1rem;
    margin-bottom: 5px;

}

/* Container com Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Ajuste para se adaptar a diferentes tamanhos */
    gap: 20px;
    justify-content: center;
}


/* Cartão do Projeto */
.project-box {
    perspective: 1000px;
    width: 100%;
    max-width: 250px;
    height: 320px;
    margin: auto;
    margin-top: 10%;
}

/* Efeito Flip */
.project-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.project-box:hover .project-inner {
    transform: rotateY(180deg);
}

/* Estilo dos lados do cartão */
.project-front,
.project-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

/* Frente do cartão */
.project-front {
    background-color: rgba(88, 82, 99, 0.137);
    color: black;
}

.project-img {
    width: 90%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.project-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffffff;
}

.Ferramentas {
    font-size: 0.9em;
    color: #b3a3f3c0;
}

/* Verso do cartão */
.project-back {
    background: linear-gradient(180deg, #2b1457 0%, #5d4092 100%);

    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

.project-back h4 {
    margin: 0;
}

.project-back p {
    margin-top: 3px;
    font-size: 0.7em;
    padding: 5px;
    text-align: justify;
    hyphens: auto;
}

.link_projetc {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: white;
    color: #6c32a1;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.link_projetc:hover {
    background-color: #4f3b96;
    color: white;
}